/* Untuk Tablet */
@media (max-width: 1000px) {
    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }
}

/* Untuk Smartphone */
@media (max-width: 670px) {
    
    .top-wrapper {
        text-align: left;
        padding-top: 130px;
    }

    .btn {
        width: 100%;
    }

    .facebook {
        margin-bottom: 10px;
    }

    .lesson {
        width: 100%;
    }

    footer {
        text-align: center;
    }
}